<!--<h1>Admin::Items#edit</h1>-->
<!--<p>Find me in app/views/admin/items/edit.html.erb</p>-->
<h2>商品編集</h2>
<%= form_with model: @item do |f| %>

<table>
  <tbody>
    <tr>
      <th>商品画像</th>
      <th><%= f.file_field :image, accept: "image/*" %></th>
      <!--ファイル選択　画像-->
    </tr>
    <tr>
      <th>商品名</th>
      <th><%= f.text_field :title %></th>
      <!--商品名の枠-->
    </tr>
     <tr>
      <th>商品説明</th>
      <th><%= f.text_area :body %></th>
      <!--商品説明の枠-->
    </tr>
     <tr>
      <th>ジャンル</th>
      <th><%= f.select :genre_id, ['ケーキ','プリン','焼き菓子'], {include_blank: '選択してください'} %></th>
      <!--ジャンル選択の枠-->
    </tr>
    <tr>
      <th>税抜価格</th>
      <th><%= f.text_field :price %>円</th>
      <!--金額入力の枠-->
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><%= f.radio_button :is_active_method, "販売中" %>販売中<%= f.radio_button :is_active_method, "販売停止中" %>販売停止中</th>
      <!--販売中と販売停止中の枠-->
    </tr>
  </tbody>
</table>

<p><%= f.submit '変更を保存'%></p>



<% end %>