<!--<h1>Admin::Items#index</h1>-->
<!--<p>Find me in app/views/admin/items/index.html.erb</p>-->

<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th></th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th></th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= link_to admin_items_path(item.id) do %>
        <% end %>
      </td>
      <td>
       <p><%= item.id %></p>
      </td>
      <td>
       <p><%= item.name %></p>
      </td>
       <td>
       <p><%= item.price %></p>
      </td>
      <td>
       <p><%= item.is_active %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
