<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->
<h2>商品詳細</h2>

<!--画像表示-->

<table>
  <tbody>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th>商品名</th>
      <th><%= @item.name %></th>
      <!--商品名の枠-->
    </tr>
     <tr>
      <th>商品説明</th>
      <th><%= @item.introduction %></th>
      <!--商品説明の枠-->
    </tr>
     <tr>
      <th>ジャンル</th>
      <th><%= @item.genre.name %></th>
      <!--ジャンル選択の枠-->
    </tr>
    <tr>
      <th>税抜価格</th>
      <th><%= @item.price %></th>
      <!--金額入力の枠-->
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><%= @item.is_active %></th>
    </tr>
  </tbody>
</table>

<p><%= link_to "編集する", edit_admin_item_path %></p>
