<!--<h1>Public::Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->
<p class="text-center">ようこそ、ながのCAKEへ！</p>
<p class="text-center">このサイトは、ケーキ販売のECサイトになります。</p>
<p class="text-center">会員でない方も商品の閲覧はできますが、</p>
<p class="text-center">購入には会員登録が必要になります。</p>

<h2>新着商品</h2>
<% @items.each do |item|%>
<!--画像-->
<%= link_to item_path(item.id) do %>
<%= image_tag item.get_image(50,50) %>
<!--商品名-->
<p><%= item.name %></p>
<!--値段-->
<p><%= item.price %></p>

<% end %>
<% end %>
<%= link_to "全ての商品を見る",items_path %>

