<!--<h1>Admin::Customers#index</h1>-->
<!--<p>Find me in app/views/admin/customers/index.html.erb</p>-->
<!--会員一覧-->
<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th></th>
      <th>メールアドレス</th>
      <th></th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to admin_customers_path(customer.id) do %>
        <% end %>
      </td>
       <td>
       <p><%= customer.id %></p>
      </td>
      <td>
       <p><%= customer.last_name %><%= customer.first_name %></p>
      </td>
       <td>
       <p><%= customer.email %></p>
      </td>
      <td>
       <p><%= customer.is_deleted %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
