<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>
<!--カート内商品一覧画面（数量変更・カート削除の要素を含む）-->
<h3>ショッピングカート</h3>       <%= link_to "カートを空にする", cart_items_path %>

<table>
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
  </thead>
  <tbody>

  <% @cart_item.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item_id %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.select :amount, *[1..3] %></td>
          <td><%= cart_item.subtotal %></td>
          <td><%= cart_item.id.destroy_all %></td>


          <% @合計金額 +=  cart_item.subtotal %>
      </tr>
  <% end %>
  </tbody>
</table>

  <%= link_to "買い物を続ける", items_path %>


  <%= link_to "情報入力に進む", orders_path %>

