<!--注文情報確認画面-->
<h3>注文情報確認</h3>

<table class="table table-bordered">
  <thead>
    <th scope="col">商品名</th>
    <th scope="col">単価(税込)</th>
    <th scope="col">数量</th>
    <th scope="col">小計</th>
  </thead>
</table>
<tbody>
  <% @cart_items.each do |order_detail| %>
  <tr>
    <td scope="col"><%= order_detail.item.name %></td>
    <td scope="col"><%= order_detail.item.with_tax_price %></td>
    <td scope="col"><%= order_detail.amount %></td>
    <td scope="col"><%= order_detail.subtotal %></td>
  </tr>
  <% end %>
</tbody>

<table class="table table-bordered">
  <thead>
    <th scope="row">送料</th>
    <th scope="row">商品合計</th>
    <th scope="row">請求金額</th>
  </thead>
</table>
<tbody>
  <tr>
    <td><%= @order.shipping_cost %></td>

    <% @cart_items.each do |cart_item| %>
     <% @total_price +=  cart_item.subtotal %>
    <% end %>
    <td><%= @total_price %></td>
    <% @total_price += @order.shipping_cost %>
    <td><%= @total_price %></td>
  </tr>


  <tr>
  <th>支払い方法</th>
  <td><%= @order.payment_method_i18n %></td>
 </tr>
 <tr>
   <th>お届け先</th>
   <td>
    <%= @order.postal_code %>
    <%= @order.address %>
    <%= @order.name %>
   </td>
  </tr>

</tbody>


<%= form_with model: @order do |f| %>


<%= f.hidden_field :postal_code, value: @order.postal_code %>
<%= f.text_field :address %>
<%= f.hidden_field :name, value: @order.name %>
<%= f.hidden_field :shipping_cost, value: @order.shipping_cost %>
<%= f.hidden_field :total_payment, value: @order.total_payment %>
<%= f.hidden_field :payment_method, value: @order.payment_method %>
<%= f.hidden_field :status, value: @order.status %>
<%= f.submit "注文を確定する" %>

<% end %>




