<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>
<!--商品詳細画面-->

<%= form_with item:Item.new do |f| %>

<!--ケーキの画像表示-->

<!--商品のタイトル-->
   <%= @item.name %>

<!--商品の説明-->
   <%= @item.introduction %>

<!--値段-->
   <%= @item.price %>

<!--商品の個数選択-->
   <%= f.select :amount,[['1'],['2'],['3']] %>

<!--カートに入れるボタン-->
   <%= f.submit 'カートに入れる'%>


<% end %>