<header>
  <span>LOGO</span>
  <% if customer_signed_in? %>
  <nav>
    <ul>
    <li>
      <%= link_to customer_path do %>
        <span>マイページ</span>
      <% end %>
    </li>
    <li>
      <%= link_to items_path do %>
        <span>商品一覧</span>
      <% end %>
    </li>
    <li>
      <%= link_to cart_items_path do %>
        <span>カート</span>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_customer_session_path, method: :delete do %>
        <span>ログアウト</span>
      <% end %>
    </li>
    </ul>
  </nav>

  <% else %>


    <li>
      <%= link_to about_path do %>
        <span>About</span>
      <% end %>
    </li>
    <li>
      <%= link_to items_path do %>
        <span>商品一覧</span>
      <% end %>
    </li>
    <li>
      <%= link_to new_customer_registration_path do %>
        <span>新規登録</span>
      <% end %>
    </li>
    <li>
      <%= link_to new_customer_session_path do %>
        <span>ログイン</span>
      <% end %>
    </li>

    </ul>
  </nav>
  <% end %>
</header>
