<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render '/layouts/admin_header' %>
    <%#= render '/layouts/customer_header' %>
    <header>

    <% if customer_signed_in? %>
    <span>LOGO</span>
    <nav>
      <ul>
      <li>
        <%= link_to customers_my_page_path do %>
          <span>マイページ</span>
        <% end %>
      </li>
      <li>
        <%= link_to items_path do %>
          <span>商品一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to cart_items_path do %>
          <span>カート</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_customer_session_path, method: :delete do %>
          <span>ログアウト</span>
        <% end %>
      </li>
      </ul>
    </nav>


    <% elsif admin_signed_in? %>
     <span>LOGO</span>
    <nav>
      <ul>
      <li>
        <%= link_to admin_items_path do %>
          <span>商品一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_customers_path do %>
          <span>会員一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_path do %>
          <span>注文履歴一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_genres_path do %>
          <span>ジャンル一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <span>ログアウト</span>
        <% end %>
      </li>
      </ul>
    </nav>
     <% else %>


      <li>
         <%= link_to about_path do %>
          <span>About</span>
         <% end %>
      </li>
      <li>
        <%= link_to admin_items_path do %>
          <span>商品一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_customer_registration_path do %>
          <span>新規登録</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_path do %>
        <!--new_customer_session-->
          <span>ログイン</span>
        <% end %>
      </li>
    <% end %>
  </header>


    <main>
    <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
