<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if request.url&.include?("admin") %>
      <% if request.path == "/admin" %>
        <p>admin_public</p>
      <% end %>
      <% else %>
         <%= render '/layouts/admin_header' %>
      <% end %>


      <p>public</p>

         <%= render '/layouts/customer_header' %>


    <main>
    <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
